*{
	margin:0;
	padding:0;
	box-sizing:border-box;
    font-family: Roboto,Arial,sans-serif;
}
.container{
	width:90%;
	padding:30px 0;
	margin:0 auto;
}
.row{
	display:flex;
	flex-wrap:wrap;
}
.col-1{
	width:8.33%;
	padding:0 15px;
}
.col-2{
	width:16.66%;
	padding:0 15px;
}.col-3{
	width:20%;
}.col-4{
	width:33.33%;
	padding:0 15px;
}.col-5{
	width:41.66%;
	padding:0 15px;
}.col-6{
	width:50%;
}.col-7{
	width:58.33%;
	padding:0 15px;
}.col-8{
	width:66.66%;
	padding:0 15px;
}.col-9{
	width:75%;
	padding:0 15px;
}.col-10{
	width:83.33%;
	padding:0 15px;
}.col-11{
	width:91.66%;
	padding:0 15px;
}.col-12{
	width:100%;
	padding:0 15px;
}
.bg_image{
	background-image:url("../image/pic.jpg");
	height:442px; 
	border-radius:5px 0px 0px 5px;
	background-size:cover;
	position:relative;
}
.bg_image i{
	font-size:50px;
	color:white;
	position:absolute;
	top:20px;
	left:22px;
}
.form_content{
	box-shadow:0px 0px 15px #adafc9;
	padding: 20px;
}
.form_content h2{
	color:gray;
	padding:10px 20px;
	padding-top:25px;
}
.form_content span{
	color:black;
}
.form_content p{
	width:55%;
	color:gray;
	padding:10px 20px;
}
form{
    padding-top: 35px;
}
.form_email, .form_password{
	border: 1px solid white;
    padding: 2px 20px;
	margin: 15px 0px;
}
#mail{
	border-bottom: 1px solid #c9c6c682;
	font-size:20px;
}
#password{
	border-bottom: 1px solid #c9c6c682;
	font-size:20px;
}
.mail_icon{
	font-size:25px;
	color:gray;
}
.pass_icon{
	font-size:25px;
	color:gray;
}
form input{
	width:90%;
	padding:10px 5px;
    border: none;
    outline: none;
}
.form_btn{
	display:flex;
	justify-content:end;
}
 .button{
	width:25%;
    padding: 15px;
    border-radius: 25px;
	background-color:#b08bf8;
    color:white;
    border:none;	
}
.form_link{
	display:flex;
	justify-content:end;
    padding-top: 40px;
}